/* 
    1. NavBar
    2. ItemCount
    3. Item
    4. CartWidget

*/



/* 
        1   NAVBAR 
============================
*/

.logo{
    color: red;
}

h2{
    color: rgb(255, 51, 0);
}


.greeting {
    margin-left: 2rem;
    color: blue;
    font-size: 1.3rem;
}

.rounded {
    background-color: darkred;
    border-radius: 50px !important;
    margin-left: .5rem;
}

.rounded:hover {
    background-color: rgb(168, 8, 8);
    font-weight: bold;
}

.size-input{
    width: 8rem;
}



/*
        2   ItemCount
    ============================
 */


.inputbtn {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    -moz-appearance:textfield;
}

.inputbtn::-webkit-outer-spin-button,
.inputbtn::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fondoBtnAddCount{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashPlus{
    color: purple
}

.ItemCountContainer {
    width: max-content;
}

/*
        3   Item
    ============================
 */

.itemPrice{
    font-size: 1.5rem;
	color: #1c1c1c;
	font-weight: 700;
}



/*
        4   CartWidget
    ============================
 */

#cart {
    position: relative;
}

#cart i {
    font-size: 18px;
}

#cart-count {
    height: 13px;
	width: 13px;
	background: #7fad39;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -3px;
}