/* 
    1. NavBar
    2. ItemCount
    3. Item
    4. ItemDetail
    5. CartWidget

*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}

/* 
        1   NAVBAR 
============================
*/

.logo{
    color: red;
}

h2{
    color: rgb(255, 51, 0);
}



.rounded {
    border-radius: 50px !important;
    margin-left: .5rem;
    font-size: 1.2rem
}

.rounded:hover {
    background-color: rgb(168, 8, 8);
    font-weight: bold;
    color: black;
}

.size-input{
    width: 8rem;
}

.active {
    background-color: rgb(168, 8, 8);
    font-weight: bold;
    border-radius: 50px !important;
}


/*
        2   ItemCount
    ============================
 */


.inputbtn {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    -moz-appearance:textfield;
}

.inputbtn::-webkit-outer-spin-button,
.inputbtn::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fondoBtnAddCount{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashPlus{
    color: #084298
}

.ItemCountContainer {
    width: max-content;
}

/*
        3   Item
    ============================
 */

.itemPrice{
    font-size: 1.5rem;
	color: #1c1c1c;
	font-weight: 700;
}

.ItemImage{
    object-fit: contain;
}


/*
        4   ItemDetail
    ============================
 */
.ImgItemDetail{
    border-radius: 30px;
    text-align: center;
}

.ItemDetailTitle {
    color: #084298
}

/*
        5   CartWidget
    ============================
 */

#cart {
    position: relative;
}

#cart i {
    font-size: 28px;
}

#cart-count {
    height: 21px;
	width: 21px;
	background: #7fad39;
	font-size: 12px;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -15px;
}
